:root {
   
    --dark-grayishblue:hsl(227, 10%, 46%);
    --dark-cyan:hsl(185, 75%, 39%);
    --very-dark-blue:hsl(229, 23%, 23%);
    --transparent-white:hsla(0, 0%, 100%, 0.75);
    --dark-grey:hsl(0, 0%, 59%);
}